<%- include("partials/header"); -%>

    <h1>Contact</h1>
    <button class="btn btn-success">
        <a href="https://www.instagram.com/guhan_sv/" style="color: white;"><p> <%= contactContent %> </p></a>
    </button>
       
    
<%- include("partials/footer"); -%>
